.App {
  font-family: sans-serif;
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.center_div{
  text-align: center;
  margin-left: 32%;
  margin-top: 32px;
  width: 40%;
  height: 80vh;
  background: #6983aa;
  background: transparent;
  background: #f4f4f4;
  box-shadow: -5px 10px 20px 20px rgba(0, 0, 0, 0.3);
  border-radius: 14px;
}
input{
  height: 30px;
  top: 10px;
  padding-left: 5px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #800080;
  border: none;
  outline: none;
}
h1 {
  color: #fff;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.center_div button {
  min-height: 40px;
  width: 40px;
  border-radius: 10px;
  /* background-color: #8566aa; */
  color: #000;
  font-size: 40px;
  outline: none;
  border: none;
  border-color: transparent;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.center_div button:hover {
  background-color: green;
  cursor: pointer;
}
.list-container{
 margin-top: -32%;
 margin-left: 42%;
}
.ab{
  display: flex;
  margin-top: 10px;
  padding-left: 0px;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  color: #8566aa;
  text-transform: capitalize;
}
.ab p b{
  padding-left: 0px;
  margin: 10px;
}
.ab p span{
  padding-left: 0px;
  margin: 10px;
}
.list-container button{
  width: 100px;
  height: 40px;
  background-color: #8566aa;
  color: #fff;
  margin-left: 10px;
  margin-top: -8px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}